div{
    width: 300px;
    height: 300px;
}

.box1{
    border: 1px solid black;
    background:url("../image/flower.jpg") no-repeat;
    padding: 15px;

    background-size: contain;
}
.box2{
    border: 1px solid black;
    background:url("../image/flower.jpg")    ;
    background-repeat: repeat;
    padding:15px;
    background-size: contain;
}
.box3{
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to left,red, yellow);
}