@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

body{
    margin:0; padding: 0;
    font-family: 'Roboto', sans-serif;
    background:#f2f2f2
}

:root{
    --color-primary:#ff6600;

}
*{
    box-sizing: border-box;
}



.text-right{
    text-align:right
}

.container{
    width:100%;
    margin:auto;
}

header{
    background: #272f54;
    display:grid;
    grid-template-columns: 1fr;
    align-items:center;
    padding:10px;
    text-align: center;
}

header ul{
    text-align: center;
    list-style:none;
    margin:0; padding:0;
}
header ul li {display:inline-block}

header ul li a{
    padding:0 10px;
    display:block;
    color:#ffff00;
    text-decoration: none;
    font: size 11px;
    text-transform: uppcase;

}
.banner img{
    max-width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap:20px;
}

main{
    background:#fff;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
    padding:0 15px;

}

h2{
    font-size:24px;
    text-transform: uppercase;

}
.lastest-news-image img{
    /* margin:10px;
    background: #333333; */
    max-width: 100%;
}
.lastest-news-post{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap:20px;
}
.lastest-news-content h4{
    margin :0;
    padding:0;
}
.lastest-news-content h4 a{
    font-size:18px;
    color:var(--color-primary);
    text-decoration:none
}

.login{
    /* background:url() no-repeat */
    /* background-size:cover */
    padding:14px
}

.login h2{
    margin:0 0 10px 0;
    padding:0;
    color: #fff;
}

.login .form-group{
    margin-bottom:10px
}
.login input{
    display:block;
    width:100%;
    padding:5px 10px;
    border:none;
}
.login .btn{
    background: var(--color-primary);
    display:inline-block;
    border:none;
    color:#fff;
    padding:5px 10px;
    cursor:pointer;

}
.views{
background:#fff;
box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
padding: 14px;
margin-bottom:20px
}
.views h2{
    margin:0 0 10px 0;padding:0;
}
.views h4{
    font-weight: normal;
    font-size:14px;
    color: #2b4267;
    text-decoration:none;
    margin:0; padding:0
}
.views-item{
    padding: bottom 10px;
    margin-bottom: 10px;
    border-bottom:1px, solid, #8b8b8b
}
.view-item:last-child{
    border-bottom:none
}
.views-item span{
    color:#666666;
    font-size:10px;
}
.views-item p{
    color : #333333;
    font-size:12px;
    margin-bottom:0px;
}
.views-item a{
    color:var(--color-primary);
    text-decoration:none;
    font-size:10px
}
.event{
    background:#fff;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
    padding:14px;
}
.event h2{
    margin:0 0 10px 0; padding:0
}

.event-item{
    padding-bottom:10px;
    margin-bottom:10px;
border-bottom:1px solid #8b8b8b;

}
.event-item:last-child{
    border-bottom:none
}
.event-date{
    font-size:14px;
    color:#666666;
    text-transform:uppercase
}
.event-name{
    margin:0;padding:0
}
.event-name a{
    color:#2b3267;
    font-size:12px;
text-decoration: none;
}
.event-location{
    color:#333333;
    font-size:12px;
}

.footer{
    background:#14293d;
    border-radius: 0 0 10px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    padding:12px 0;

}

@media (min-width:576px){

}
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
    .content{
        grid-template-columns: 1fr 230px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
    header{
        grid-template-columns: 1fr;
        text-align:left
    }
    header ul{
        text-align:right
    }
    .lastest-news-post{
        grid-template-columns: 250px 1fr;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 960px;
    }
    

}