
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

:root{
    --blue:#1a3045;
    --red:#ff0000
}
#text{
    border: 2px black solid;
border-radius: 20px;
}
*{
   box-sizing: border-box;
}

#google{
    color:var(--red)
}
.bing{
    color:var(--blue)
}

a[href^="google.com.vn"]{
    color:var(--red)
}

a[href*="com"]{
    color:var(--blue)
}

body{
    font-family: 'Roboto', sans-serif;
}

.new-post-content p{
    font-weight: 300;
}