* {
    box-sizing: border-box;
  }
  .item{
    display:block
  }
  .left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 100%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 100%; /* The width is 60%, by default */
  }
  
  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 100%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (min-width: 600px) {
   
  }

  @media screen and (min-width: 768px) {
    .left{
      width: 20%;
    }
    .main{
      width: 50%;
    }
    .right {
      width: 30%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  @media screen and (min-width: 992px) {
    .left{
      width: 20%;
    }
    .main{
      width: 60%;
    }
    .right {
      width: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  @media screen and (min-width: 1200px) {
   
  }